@tailwind base;
@tailwind components;
@tailwind utilities;

.question code {
  color: rgba(0, 0, 0, 0);
}

.question code::before {
  content: "Q)";
  font-size: small;
  vertical-align: top;
  color: black;
}

.question code:hover {
  color: #DC2626;
}